body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

#canvas {
    border: 1px solid #ddd;
    margin-bottom: 20px; /* Space between the canvas and the spin button */
}

#spin {
    padding: 10px 20px;
    font-size: 1em; /* Adjust based on your design */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: top 0.2s, left 0.2s; /* Smooth transition for resizing */
}

#prizePopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

#prizePopupText {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
}
